<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Home page</h1>
  <h3>Login</h3>
  <form action="">
    <input type="email" name="email" required placeholder="email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit"  value="Send">
  </form>

  <h3>Register</h3>

    <form action="candidateRegister" method="post">

        <input type="text" name="name" placeholder="Enter the name"><br>
        <input type="email" name="email" required placeholder="email"><br>
        <input type="password" name="password" placeholder="Password"><br>
        <input type="text" name="contactInfo" placeholder="contact number"><br>
        <input type="text" name="industry" placeholder="Industry"><br>
        <input type="text" name="experience" placeholder="years of experience"><br>
        <input type="submit"  value="Register">

      </form>

  <a href="recruiter">Recruiter Portal</a>
</body>
</html>
